html, body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Myriad Pro", Arial, sans-serif;
    background: #FFF;
}
canvas#mainCanvas{
    background: #1C1B20; /* #1C1B20 or #EBEDF3 */
}
#debugInfo {
    position: fixed;
    right: 0; bottom: 0;
    text-align: right;
    border-radius: 2px 0 0 0;
}
#debugInfo span {
    font-weight: 700;
}
div#preferences {
    display: inline-block;
    position: relative;
    text-align: left;
    pointer-events: all;
    overflow: hidden;
}
div#preferences > input[type="button"].close {
    position: absolute;
    top: 0; right: 0;
    color: #555E70; background: none;
}
div#preferences > input[type="button"].close:hover {
    color: #E44255;
}
