* {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*::selection {
    color: #FFF;
    background: #B3B8C4;
}
*::-moz-selection {
    color: #FFF;
    background: #B3B8C4;
}
html, body {
    font-family: "Helvetica Neue", Helvetica, "Myriad Pro", Arial, sans-serif;
    background: #EBEDF3;
}
hr {
    border: solid 0 #FFF;
    border-width: 0 0 1px 0;
    opacity: 0.05;
}
div.outer {
    display: table;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
}
div.inner {
    display: table-cell;
    vertical-align: middle;
}
div.centre {
    text-align: center;
}
.bold {
    font-weight: 700;
}
.blur {
    -webkit-filter: blur(7px);
    transition: 1s ease-in-out;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noevents {
    pointer-events: none;
}
canvas{
    display: block;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: 1s ease-in-out;
}
#welcome {
    z-index: -1;
    font-family: "Avenir Next";
    font-weight: lighter;
    line-height: 72px;
    transition: 1s ease-in-out;
}
#welcome h1 {
    font-weight: lighter;
    color: #B3B8C4;
    font-size: 188px;
    letter-spacing: -10px;
}
#debugInfo {
    position: fixed;
    right: 0; bottom: 0;
    padding: .5em 1em;
    font-family: "Source Code Pro", Menlo, Monaco, monospace;
    font-weight: 300;
    text-align: right;
    color: #EEE; background: rgba(15, 30, 50, 0.75);
}
#fps, #ms, #nplanets, #algorithm, #pairs {
    font-weight: 500;
    transition: color 2s;
}
